body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
main {
  margin-top: 49px;
}

.grid-container-project {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  padding: 10px;
  place-items: center;
  max-width: 1200px;
  margin: auto;
}
.grid-container-project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.project-tile {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 141, 63, 1);
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 8px 8px 10px 8px rgba(100, 100, 100, 0.3);
}

.grid-container-contact {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  text-align: center;
}
.github,
.email {
  display: inline-block;
  padding: 2%;
}

.nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  min-height: 50px;
  top: 0;
  right: 0;
  left: 0;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(247, 141, 63, 1);
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #102e37;
}
.active {
  background-color: #04aa6d;
}

.about-me {
  background: linear-gradient(100deg, #303030, #091a1f 90%);
  width: 100%;
  height: 100vh;
  color: #ffffff;
  left: 0;
  right: 0;
}
.about-me h1,
p {
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
}
.about-me p {
  font-style: italic;
  font-size: 150%;
}
.about-me h1 {
  padding-top: 20%;
  font-size: 300%;
}

.projects {
  background: #24a1b9;
  color: #ffffff;
  text-decoration: underline;
  left: 0;
  right: 0;
  padding: 20px;
}

.contact {
  background: #050f12;
  color: #ffffff;
  left: 0;
  right: 0;
  border-top: 2px solid #24a1b9;
  padding: 20px;
}

.footer {
  background: #050f12;
  color: #ffffff;
  width: 100%;
  border-top: 2px solid #24a1b9;
  margin: 0;
  padding: 0;
  bottom: 1;
  position: absolute;
}
.footer p {
  padding: 30px 5px;
  text-align: center;
  font-size: small;
}
